body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container::before {
  content: "";
  background-image: url("images/background.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the blurred background */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  color: #ff5c77;
}

.nav-links {
  display: flex;
  gap: 40px;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #555;
}

.login-btn {
  background-color: #ff5c77;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.center-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  margin: 0 20px;
}

.join-btn {
  background: linear-gradient(90deg, #ffffff 0%, #f1c40f 100%);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-position 0.5s ease, background-color 0.3s ease;
  background-size: 200%;
  background-position: left;
}

.join-btn:hover {
  background-position: right;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 25px;
  height: 25px;
  background-color: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 10px #000000;
}

.ilogo {
  width: 25px;
  height: 25px;
  border-radius: 40%;
}
